footer {
    display: flex;
    flex-direction: column;
    align-items: center;

} 

.footer {
    height: 5rem;
    align-items: center;
    display:flex ;

}

.footer__texto {
    align-items: center;
}

.secao-footer { 
    background-color: var(--azul-claro);
}